<include file="Public/header" /> 
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">漏洞</strong> / <small>Bug</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a href="{:U('Bug/add_bug_type')}"><button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 添加漏洞类型</button></a>
            </div>
          </div>
        </div>
<!--         <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
          </div>
        </div> -->
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-id">ID</th>
                <th class="table-title">漏洞类型名称</th>
                <th class="table-title">添加时间</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
            <foreach name="bug_type_list" item="vo" >
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.bug_name}</td>
                <td class="am-hide-sm-only">{$vo.add_time}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="{:U('Bug/edit_bug_type',array('id'=>$vo['id']))}"  class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 编辑</a>
                      <button type="button" id="{$vo.id}" onclick="confirm_del_bug_type(this)" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                  </div>
                </td>
              </tr>
            </foreach>

              </tbody>
            </table>
            <div class="am-cf">
              共 {$count} 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                    {$page}
                </ul>
              </div>
            </div>
            <hr />
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 Wereport.</p>
    </footer>

  </div>
  <!-- content end -->
</div>

<include file="Public/footer" /> 
<script>
  $('.am-fr ul div a').unwrap('div').wrap('<li></li>');
  $('.am-fr ul span').wrap('<li class="am-active"></li>');

  function confirm_del_bug_type(_this)
  {
    if (confirm("确定要删除该漏洞类型吗?,该操作不可逆!")) {
      var my_this = _this;
      var id = $(my_this).attr('id');
      $.ajax({
        url:"{:U('Bug/del_bug_type')}",
        type:"post",
        data:'id='+id,
        success:function(data){
          if (data == 1) {
            alert("删除成功");window.location.reload();
          } else {
            alert("删除失败");window.location.reload();
          }
        }
      });

    } else {
      return false;
    }
  }
</script>