<include file="Public/header" /> 


  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改系统</strong> / <small>Update System</small></div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form action="{:U('Index/edit_system_info')}" method="post" class="am-form am-form-horizontal" enctype="multipart/form-data">

            <div class="am-form-group">
              <label for="report-name" class="am-u-sm-3 am-form-label">系统名称 /System NAME</label>
              <div class="am-u-sm-9">
                <input type="text" id="report-name" name="system_name" value="{$system_info.system_name}">
              </div>
            </div>

            <div class="am-form-group">
              <label for="report-name" class="am-u-sm-3 am-form-label">系统URL /System URL</label>
              <div class="am-u-sm-9">
                <input type="text" id="report-name" name="system_url" value="{$system_info.system_url}">
              </div>
            </div>

            <div class="am-form-group">
              <label for="report-name" class="am-u-sm-3 am-form-label">系统IP /System IP</label>
              <div class="am-u-sm-9">
                <input type="text" id="report-name" name="system_ip" value="{$system_info.system_ip}">
              </div>
            </div>

            <input type="hidden" name="id" value="{$system_info.id}">
            <input type="hidden" name="pid" value="{$system_info.pid}">

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2017 WeReport. 226safe Team.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<include file="Public/footer" /> 
